.contenedor {
    margin: 10px auto;
    width: 100%;
    background-color: #E7F6F6;
    border: 1px solid #99cccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido {
    padding: 80px;
}
.center-div {
    margin: 0 auto;
}