<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
        <mat-toolbar color="primary" class="example-toolbar">
          <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
          <h1 class="example-app-name">Integrador</h1>

          <ul class="ml-4">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/student">Students</a></li>
            <li><a routerLink="/user">Users</a></li>
          </ul>

        </mat-toolbar>
      
        <mat-sidenav-container class="example-sidenav-container"
                               [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
          <mat-sidenav class="col-md-2" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                       [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <!-- Aca se declaran los items del nav -->
            <mat-nav-list>
              <a *ngFor="let nav of pages" mat-list-item routerLinkActive="active" [routerLink]="nav.pageUrl">{{ nav.tittle }}</a>
              <!-- <a mat-list-item routerLinkActive="active" routerLink="/student/edit">Academic state</a>
              <a mat-list-item routerLinkActive="active" routerLink="/exam">Exams</a>
              <a mat-list-item routerLinkActive="active" routerLink="/cursado">Cursado/Notas</a>
              <a mat-list-item routerLinkActive="active" routerLink="/correlativity">Correlatividad</a>
              <a mat-list-item routerLinkActive="active" routerLink="/isc">Inscripcion</a>
              <a mat-list-item routerLinkActive="active" routerLink="/aaaa"></a> -->
            </mat-nav-list>
          </mat-sidenav>
      
          <mat-sidenav-content>
            <router-outlet></router-outlet>
          </mat-sidenav-content>
        </mat-sidenav-container>
</div>