<h1>Students</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="students">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Career</th>
      <th>Years</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.career }}</td>
      <td>{{ student.years }}</td>
    </tr>
  </tbody>
</table>
